<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Eligibility Checker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container1">
        <h1>Welcome to the Loan Eligibility Checker!</h1>
        <form action="/" method="post">
            <label for="loan_type">Please select the type of loan you are interested in:</label>
            <select id="loan_type" name="loan_type" required>
                <option value="home">Home Loan</option>
                <option value="personal">Personal Loan</option>
                <option value="vehicle">Vehicle Loan</option>
                <option value="educational">Educational Loan</option>
                <option value="business">Business Loan</option>
            </select>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
